/* Center the whole page */
.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

/* Main Card */
.container {
  width: 90%;
  max-width: 350px;
  background: linear-gradient(
    0deg,
    rgba(255, 230, 230, 1) 0%,
    rgba(255, 245, 245, 1) 100%
  );
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid white;
  box-shadow: rgba(255, 150, 150, 0.35) 0px 30px 30px -20px;
  box-sizing: border-box;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: rgb(211, 16, 16);
}

.form {
  margin-top: 20px;
}

/* Inputs */
.form .input {
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #ffcfcf 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
  box-sizing: border-box;
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid #d12f12;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.forgot-password a {
  font-size: 11px;
  color: #ff0000;
  text-decoration: none;
}

/* Button */
.login-button {
  width: 100%;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(211, 16, 16), rgb(209, 18, 18));
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(215, 133, 133, 0.878) 0px 20px 10px -15px;
  transition: 0.2s;
}

.login-button:hover {
  transform: scale(1.03);
}

.login-button:active {
  transform: scale(0.95);
}

/* Social section */
.social-account-container {
  margin-top: 25px;
}

.social-account-container .title {
  text-align: center;
  font-size: 10px;
  color: rgb(170, 170, 170);
}

.social-accounts {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
}

.social-button {
  background: linear-gradient(45deg, black, #707070);
  border: 5px solid white;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  box-shadow: rgba(255, 144, 144, 0.878) 0px 12px 10px -8px;
  transition: 0.2s;
}

.social-button i {
  color: white;
  font-size: 18px;
}

.social-button:hover {
  transform: scale(1.2);
}

.social-button:active {
  transform: scale(0.9);
}

/* Agreement link */
.agreement {
  text-align: center;
  margin-top: 15px;
}

.agreement a {
  text-decoration: none;
  color: #ff4a36;
  font-size: 9px;
}
